<p>
  Olá, <strong>{{ invitedFirstName }}</strong>
</p>
<p>
  {{ requesterName }} está lhe convidando para se juntar à equipe
  de <strong>{{ projectName }}</strong>. Para aceitar, clique no 
  botão abaixo:
</p>
<div style="margin: 35px 0px;">
  <a 
    href="{{ confirmationUrl }}"
    target="_blank" 
    style="text-decoration: none;"
  >
    <span 
        style="
          width: 100%;
          padding: 12px 15px; 
          border-radius: 6px; 
          color: #fff; 
          background-color: #2D2D2D;
          border: none;
          text-decoration: none;
        "
    >
      Juntar-se à equipe
    </span>
  </a>
</div>
<p>
  Ou copie e cole o link na barra de endereços:
</p>
<a
  href="{{ confirmationUrl }}"
  target="_blank"
>
  {{ confirmationUrl }}
</a>
<p>
  Se deseja recusar o convite, por favor ignore este email.
</p>